<div class="container">
    <div class="container mt-5">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input type="text" class="form-control" id="firstName" [(ngModel)]="person.firstName" name="firstName" required>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input type="text" class="form-control" id="lastName" [(ngModel)]="person.lastName" name="lastName" required>
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Date of Birth:</label>
          <input type="date" class="form-control" id="dateOfBirth" [(ngModel)]="person.dateOfBirth" name="dateOfBirth" required>
        </div>
        <div class="form-group">
          <label for="postActuel">Current Position:</label>
          <input type="text" class="form-control" id="postActuel" [(ngModel)]="person.postActuel" name="postActuel" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  