<div class="content" style="padding:3px 5px !important;">
  <div class="card" style="width:100% !important; margin:auto; ">
    <h3 class="page-header" style="text-align: center;">Liste Personnes</h3>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">Liste des personnes</div>
          <div class="card-body">
             <table class="table">
               <thead class="bg-black text-white">
                <tr>
                   <td>#Id</td>
                   <td>Nom</td>
                   <td>Prénom</td>
                   <td>Date de naissance</td>
                   <td>Poste actuel</td>
                </tr>
               </thead>
               <tbody>
                <tr *ngIf="listePersonne.length == 0">
                  <td colspan="5">Il y'a aucune donnée dans votre système</td>
                </tr>
                <div *ngIf="listePersonne.length != 0">
                  <tr  *NgFor="let persone in listePersonne " >
                    <td >{{persone.id}}</td>
                    <td >{{persone.fistName}}</td>
                    <td >{{persone.lastName}}</td>
                    <td >{{persone.dateOfBirth}}</td>
                    <td >{{persone.postActuel}}</td>
                  </tr>
                </div>
  
               </tbody>
             </table>
  
  
          </div>
        </div>
      </div>
      
    </div>
  </div>
  